name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish to Maven Central
        run: ./gradlew --info --no-daemon --stacktrace --console=plain jar publish -Pversion=${{ github.event.inputs.version }}
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PWD }}
          ORG_GRADLE_PROJECT_nexusPassword: ${{ secrets.NEXUS_PWD }}